img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight:bold;
    color: black;
    font-style: italic;
}